html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.pokemon {
  display: inline-block;
  text-align: center;
}

.pokemon img {
  display: block;
}

h1 {
  text-align: center;
}
